<% for (let x = 1; x < badges.length; x++) { %>
    <div class="badge">
        <% let ne = badges[x].required_entries; let completed = Math.min(parseInt(statistics.totalEntities / ne * 100), 100) %>
        <% let grey = completed < 100 ? "grayscale" : "";  %>
        <img class="<%= grey %>" src="/static/assets/badges/<%= badges[x].image %>" alt="Entity Icon">
        <div class="badge-text">
            <div class="stat-title"><%= badges[x].badge_name %></div>
            <div><%= badges[x].description %></div>
            <div class="progress-bar">
                <div class="bar-text"><%= completed + "% completed " %></div>
                <div class="bar-filler" data-perc="<%= completed %>"></div>
            </div>
        </div>
    </div>
<% } %>
